---
import Sql from "./icons/Database.astro"
import Python from "./icons/Python.astro"
import Rocketbot from "./icons/Rocket.astro"
import Sap from "./icons/Sap.astro"
import Outlook from "./icons/Outlook.astro"

const TAGS = {
  SQL: {
    name: 'SQL',
    class: 'bg-yellow-400/60 text-white',
    icon: Sql,
  },
  OUTLOOK: {
    name: 'Outlook',
    class: 'bg-blue-500 text-white',
    icon: Outlook,
  },
  PYTHON: {
    name: 'Python',
    class: 'bg-blue-500/60 text-yellow-400',
    icon: Python
  },
  ROCKETBOT: {
    name: 'Rocketbot',
    class: 'bg-red-600/70 text-white',
    icon: Rocketbot
  },
  SAP: {
    name: 'SAP',
    class: 'bg-cyan-400/60 text-white',
    icon: Sap,
  
  }
}

const PROJECTS = [
  {
    title: "Descarga Boletas Honorarios SII",
    description: "Robot que se encarga de buscar el respaldo tributario de un documento en el SII chile.",
    image: "/projects/svgl.webp",
    tags: [TAGS.ROCKETBOT, TAGS.PYTHON],
  },
  {
    title: "Scrapping Outlook y Descarga de Adjuntos",
    description: "Este robot se encarga de obtener los correos electronicos, por keyword que se obtiene en el cuerpo del asunto y extrae los documentos adjuntos del mismo. Los datos obtenidos los almacena en una base de datos.",
    image: "/projects/svgl.webp",
    tags: [TAGS.OUTLOOK, TAGS.SQL, TAGS.PYTHON]
  },
  {
    title: "Licencias SAP",
    description: "Este robot se encarga de consultar las licencias de los usuarios sap en tiempo real, llena datos con su nombre y cantidad de documentos con usuarios. Contrastando la informacion con las licencias compradas.",
    image: "/projects/svgl.webp",
    tags: [TAGS.SAP, TAGS.PYTHON]
  },
]
---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="mockup" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-xl md:text-2xl font-bold text-gray-800 dark:text-white/90">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-blue-50">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>